@model List<Category>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
            </tr>
        }

    </tbody>
</table>