<div class="bg-light border-top p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-8">8</div>
            <div class="col-md-2">
                @* <div class="my-3">
                <h6 class="lead">
                <i class="text-secondary">
                Lastest Products
                </i>
                </h6>
                <ul>
                <li>Deneme 1</li>
                <li>Deneme 2</li>
                <li>Deneme 3</li>
                <li>Deneme 4</li>
                <li>Deneme 5</li>
                </ul>
                </div> *@
                <div products="" Number="6"></div>
            </div>
        </div>
    </div>
</div>