@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="GetProduct" asp-controller="Home" asp-route-id="@item.ProductId"
                       class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>